html {
  font-size: 62.5%;
}

body {
  // ベースとなる文字の大きさ(rem)
  @include font-size(16);

  // 文字サイズの自動調整を無効にする
  text-size-adjust: 100%;

  // アンチエイリアス
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-feature-settings: "palt";

  background-color: #fff;
}

a {
  color: #000;
  text-decoration: none;

  &:hover {
    color: #000;
  }
}

.alm-load-more-btn {
}
