@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900|Kalam:300,400,700&display=swap");

@mixin font-k-bold {
  font-family: "Shuei KakuGo Gin B";
}

@mixin font-k-medium {
  font-family: "Shuei KakuGo Gin M";
}

@mixin font-k-regular {
  font-family: "Shuei KakuGo Gin L";
}

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900&subset=japanese");
@mixin font-black {
  font-weight: 900;
}

@mixin font-bold {
  font-weight: 700;
}

@mixin font-medium {
  font-weight: 500;
}

@mixin font-regular {
  font-weight: 400;
}

/** Kalam **/
@mixin font-en-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
}
@mixin font-en-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
}
@mixin font-en-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
}

/** MavenPro **/
@mixin font-maven-regular {
  font-family: "Maven Pro", sans-serif;
  font-weight: 400;
}

@mixin font-maven-medium {
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
}

@mixin font-maven-bold {
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
}

@mixin font-maven-black {
  font-family: "Maven Pro", sans-serif;
  font-weight: 900;
}
