html {
  font-size: 62.5%;
}

body {
  // ベースとなる文字の大きさ(rem)
  @include font-size(16);

  // 文字サイズの自動調整を無効にする
  text-size-adjust: 100%;

  // アンチエイリアス
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-feature-settings: "palt";

  background-color: #fff;
}

a {
  color: #000;
  text-decoration: none;

  &:hover {
    color: #000;
    text-decoration: underline;
  }
}

.clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

#baseMenu {
  right: 8px !important;
  .base {
    display: none !important;
  }
}
