@charset "UTF-8";
/**
* remに対応していないブラウザ用
*/
/**
* 絶対位置で配置する
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, _src/sass/utils/_reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 95, _src/sass/utils/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 108, _src/sass/utils/_reset.scss */
body {
  line-height: 1;
}

/* line 111, _src/sass/utils/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 115, _src/sass/utils/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 119, _src/sass/utils/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* line 126, _src/sass/utils/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, _src/sass/utils/_base.scss */
html {
  font-size: 62.5%;
}

/* line 5, _src/sass/utils/_base.scss */
body {
  font-size: 16px;
  font-size: 1.6rem;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-feature-settings: "palt";
  background-color: #fff;
}

/* line 22, _src/sass/utils/_base.scss */
a {
  color: #000;
  text-decoration: none;
}
/* line 26, _src/sass/utils/_base.scss */
a:hover {
  color: #000;
  text-decoration: underline;
}

/* line 1, _src/sass/components/_Contents.scss */
.Contents {
  position: relative;
  min-height: 100vh;
}
@media (min-width: 920px) {
  /* line 1, _src/sass/components/_Contents.scss */
  .Contents {
    padding-top: 64px;
  }
}

/* line 1, _src/sass/components/_GlobalHeader.scss */
.GlobalHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  padding: 0 12px;
  background-color: #fff;
}
/* line 18, _src/sass/components/_GlobalHeader.scss */
.GlobalHeader__nav ul {
  display: flex;
  align-items: center;
}
/* line 23, _src/sass/components/_GlobalHeader.scss */
.GlobalHeader__nav ul li + {
  margin-left: 32px;
}

/* line 1, _src/sass/components/_GlobalFooter.scss */
.GlobalFooter {
  position: relative;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}
@media (min-width: 920px) {
  /* line 1, _src/sass/components/_GlobalFooter.scss */
  .GlobalFooter {
    height: 60px;
    font-size: 12px;
    font-size: 1.2rem;
  }
}
/* line 18, _src/sass/components/_GlobalFooter.scss */
.GlobalFooter__links {
  display: flex;
}
@media (min-width: 920px) {
  /* line 18, _src/sass/components/_GlobalFooter.scss */
  .GlobalFooter__links {
    align-items: center;
  }
}
/* line 28, _src/sass/components/_GlobalFooter.scss */
.GlobalFooter__links li + {
  margin-left: 32px;
}
/* line 32, _src/sass/components/_GlobalFooter.scss */
.GlobalFooter__links li a {
  color: #fff;
}
/* line 35, _src/sass/components/_GlobalFooter.scss */
.GlobalFooter__links li a:hover {
  color: #fff;
}
/* line 42, _src/sass/components/_GlobalFooter.scss */
.GlobalFooter__copyright {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

/* line 1, _src/sass/components/_SectionMain.scss */
.SectionMain {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ed1c23;
}
/* line 12, _src/sass/components/_SectionMain.scss */
.SectionMain__copy {
  line-height: 2;
}
@media (min-width: 920px) {
  /* line 12, _src/sass/components/_SectionMain.scss */
  .SectionMain__copy {
    margin-top: 100px;
  }
}
@media (min-width: 920px) {
  /* line 23, _src/sass/components/_SectionMain.scss */
  .SectionMain__btn {
    margin-top: 32px;
  }
}

/* line 1, _src/sass/components/_ProductItem.scss */
.ProductItemList {
  display: grid;
}
/* line 4, _src/sass/components/_ProductItem.scss */
.ProductItemList .col1 {
  grid-template-columns: 1fr;
}
@media (min-width: 920px) {
  /* line 7, _src/sass/components/_ProductItem.scss */
  .ProductItemList .col1 > * {
    max-width: 640px;
  }
}
/* line 14, _src/sass/components/_ProductItem.scss */
.ProductItemList .col3 {
  grid-template-columns: repeat(3, 1fr);
}

/* line 19, _src/sass/components/_ProductItem.scss */
.ProductItem {
  position: relative;
  display: flex;
  flex-direction: column;
}
/* line 30, _src/sass/components/_ProductItem.scss */
.ProductItem__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 41, _src/sass/components/_ProductItem.scss */
.ProductItem__img:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
/* line 48, _src/sass/components/_ProductItem.scss */
.ProductItem__info {
  display: flex;
  flex-direction: column;
}
/* line 53, _src/sass/components/_ProductItem.scss */
.ProductItem__main {
  display: flex;
  flex-direction: column;
}
/* line 58, _src/sass/components/_ProductItem.scss */
.ProductItem__name {
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 62, _src/sass/components/_ProductItem.scss */
.ProductItem__copy {
  font-size: 12px;
  font-size: 1.2rem;
}
/* line 66, _src/sass/components/_ProductItem.scss */
.ProductItem__price {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 1, _src/sass/components/_Btn.scss */
.Btn {
  display: inline-block;
  white-space: nowrap;
  text-align: center;
}
/* line 6, _src/sass/components/_Btn.scss */
.Btn.round {
  border-radius: 9999px;
}
/* line 10, _src/sass/components/_Btn.scss */
.Btn.red {
  background-color: #ed1c23;
  color: #fff;
}
@media (min-width: 920px) {
  /* line 1, _src/sass/components/_Btn.scss */
  .Btn {
    height: 54px;
    line-height: 54px;
    padding: 0 16px;
  }
}
