@charset "UTF-8";
/**
* remに対応していないブラウザ用
*/
/**
* 絶対位置で配置する
*/
/* line 1, _src/sass/components/_Contents.scss */
.Contents {
  position: relative;
}
@media (min-width: 920px) {
  /* line 1, _src/sass/components/_Contents.scss */
  .Contents {
    padding-top: 64px;
  }
}

/* line 1, _src/sass/components/_GlobalHeader.scss */
.GlobalHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  padding: 12px;
  background-color: #fff;
}
/* line 18, _src/sass/components/_GlobalHeader.scss */
.GlobalHeader__nav ul {
  display: flex;
  align-items: center;
}
/* line 23, _src/sass/components/_GlobalHeader.scss */
.GlobalHeader__nav ul li + {
  margin-left: 32px;
}

/* line 1, _src/sass/components/_ProductItem.scss */
.ProductItem {
  position: relative;
  display: flex;
  flex-direction: column;
}
/* line 14, _src/sass/components/_ProductItem.scss */
.ProductItem__info {
  display: flex;
  flex-direction: column;
}
/* line 19, _src/sass/components/_ProductItem.scss */
.ProductItem__name {
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 23, _src/sass/components/_ProductItem.scss */
.ProductItem__copy {
  font-size: 12px;
  font-size: 1.2rem;
}
/* line 27, _src/sass/components/_ProductItem.scss */
.ProductItem__price {
  font-size: 14px;
  font-size: 1.4rem;
}
