@charset "UTF-8";
/**
* remに対応していないブラウザ用
*/
/**
* 絶対位置で配置する
*/
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
/* line 9, _src/sass/utils/_reset.scss */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 87, _src/sass/utils/_reset.scss */
body {
  line-height: 1;
}

/* line 91, _src/sass/utils/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 105, _src/sass/utils/_reset.scss */
nav ul {
  list-style: none;
}

/* line 109, _src/sass/utils/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 114, _src/sass/utils/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* line 122, _src/sass/utils/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 131, _src/sass/utils/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 138, _src/sass/utils/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 145, _src/sass/utils/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 149, _src/sass/utils/_reset.scss */
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 155, _src/sass/utils/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 161, _src/sass/utils/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 170, _src/sass/utils/_reset.scss */
input,
select {
  vertical-align: middle;
}

/* line 1, _src/sass/utils/_base.scss */
html {
  font-size: 62.5%;
}

/* line 5, _src/sass/utils/_base.scss */
body {
  font-size: 16px;
  font-size: 1.6rem;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-feature-settings: "palt";
  background-color: #fff;
}

/* line 22, _src/sass/utils/_base.scss */
a {
  color: #000;
  text-decoration: none;
}
/* line 26, _src/sass/utils/_base.scss */
a:hover {
  color: #000;
}

/* line 1, _src/sass/components/_Contents.scss */
.Contents {
  position: relative;
  min-height: 100vh;
}
@media (min-width: 920px) {
  /* line 1, _src/sass/components/_Contents.scss */
  .Contents {
    padding-top: 64px;
  }
}

/* line 1, _src/sass/components/_GlobalHeader.scss */
.GlobalHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  padding: 12px;
  background-color: #fff;
}
/* line 18, _src/sass/components/_GlobalHeader.scss */
.GlobalHeader__nav ul {
  display: flex;
  align-items: center;
}
/* line 23, _src/sass/components/_GlobalHeader.scss */
.GlobalHeader__nav ul li + {
  margin-left: 32px;
}

/* line 1, _src/sass/components/_GlobalFooter.scss */
.GlobalFooter {
  position: relative;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}
@media (min-width: 920px) {
  /* line 1, _src/sass/components/_GlobalFooter.scss */
  .GlobalFooter {
    height: 60px;
    font-size: 12px;
    font-size: 1.2rem;
  }
}
/* line 20, _src/sass/components/_GlobalFooter.scss */
.GlobalFooter__links li + {
  margin-left: 32px;
}

/* line 1, _src/sass/components/_SectionMain.scss */
.SectionMain {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ed1c23;
}
/* line 12, _src/sass/components/_SectionMain.scss */
.SectionMain__copy {
  line-height: 2;
}
@media (min-width: 920px) {
  /* line 12, _src/sass/components/_SectionMain.scss */
  .SectionMain__copy {
    margin-top: 100px;
  }
}

/* line 1, _src/sass/components/_ProductItem.scss */
.ProductItem {
  position: relative;
  display: flex;
  flex-direction: column;
}
/* line 6, _src/sass/components/_ProductItem.scss */
.ProductItem__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 17, _src/sass/components/_ProductItem.scss */
.ProductItem__img:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
/* line 24, _src/sass/components/_ProductItem.scss */
.ProductItem__info {
  display: flex;
  flex-direction: column;
}
/* line 29, _src/sass/components/_ProductItem.scss */
.ProductItem__main {
  display: flex;
  flex-direction: column;
}
/* line 34, _src/sass/components/_ProductItem.scss */
.ProductItem__name {
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 38, _src/sass/components/_ProductItem.scss */
.ProductItem__copy {
  font-size: 12px;
  font-size: 1.2rem;
}
/* line 42, _src/sass/components/_ProductItem.scss */
.ProductItem__price {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 1, _src/sass/components/_Btn.scss */
.Btn {
  display: inline-block;
  white-space: nowrap;
  text-align: center;
}
/* line 6, _src/sass/components/_Btn.scss */
.Btn.round {
  border-radius: 9999px;
}
/* line 10, _src/sass/components/_Btn.scss */
.Btn.red {
  background-color: #ed1c23;
}
@media (min-width: 920px) {
  /* line 1, _src/sass/components/_Btn.scss */
  .Btn {
    height: 54px;
    line-height: 54px;
    padding: 0 16px;
  }
}
