.Btn {
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  font-weight: 700;

  &[type="submit"] {
    border: none;
  }

  &:hover {
    text-decoration: none;
  }

  &.round {
    border-radius: 9999px;
  }

  &.red {
    background-color: $color-red;
    color: $color-white;
  }

  &:hover {
    text-decoration: none;
  }

  @include sp-layout {
    $size: 40px;
    height: $size;
    line-height: $size;
    padding: 0 32px;
  }

  @include pc-layout {
    $size: 54px;
    height: $size;
    line-height: $size;
    padding: 0 32px;
  }
}
