.Contents {
  $header-height: 56px;
  position: relative;
  min-height: 100vh;
  padding-top: #{$header-height};
}

.SectionWrapper {
  @include sp-layout {
  }

  @include pc-layout {
  }

  > section {
    margin: 0 auto;
  }
}
