.Contents {
  $header-height: 64px;
  position: relative;
  min-height: 100vh;

  @include sp-layout {
  }

  @include pc-layout {
    padding-top: calc(80px + #{$header-height});
  }
}

.SectionWrapper {
  display: grid;
  @include sp-layout {
    gap: 80px;
  }

  @include pc-layout {
    gap: 120px;
  }

  > section {
    &:last-child {
      padding-bottom: 112px;
    }
  }
}
