.Contents {
  $header-height: 56px;
  position: relative;
  min-height: 100vh;

  @include sp-layout {
    padding-top: calc(80px + #{$header-height});
  }

  @include pc-layout {
    padding-top: calc(80px + #{$header-height});
  }

  &.product {
    @include sp-layout {
      padding-top: calc(#{$header-height});
    }
  }
}

.SectionWrapper {
  display: grid;
  @include sp-layout {
  }

  @include pc-layout {
  }
}
