.GlobalFooter {
  position: relative;
  background-color: $color-black;
  color: $color-white;
  display: flex;
  align-items: center;

  @include sp-layout {
    flex-direction: column;
    padding: 20px 16px 32px;
  }

  @include pc-layout {
    justify-content: space-between;
    height: 60px;
    @include font-size(12);
    padding: 0 16px;
  }

  &__links {
    display: flex;
    @include sp-layout {
      flex-direction: column;
    }

    @include pc-layout {
      align-items: center;
    }

    li {
      & + * {
        @include sp-layout {
          margin-top: 12px;
        }

        @include pc-layout {
          margin-left: 32px;
        }
      }

      a {
        color: #fff;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  &__copyright {
    @include font-en-bold;

    @include sp-layout {
      margin-top: 32px;
    }
  }
}
