.ProductItemList {
  display: grid;

  .col1 {
    grid-template-columns: 1fr;

    > * {
      @include pc-layout {
        max-width: 640px;
      }
    }
  }

  .col3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.ProductItem {
  position: relative;
  display: flex;
  flex-direction: column;

  @include sp-layout {
  }

  @include pc-layout {
  }

  &__img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include sp-layout {
    }

    @include pc-layout {
    }

    &:before {
      content: "";
      display: block;
      padding-top: 56.25%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__main {
    display: flex;
    flex-direction: column;
  }

  &__name {
    @include font-size(16);
  }

  &__copy {
    @include font-size(12);
  }

  &__price {
    @include font-size(14);
  }
}
