.SectionTitle {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.333;

  &__jp {
    @include font-bold;
    @include font-size(20);
  }

  &__en {
    @include font-size(12);
    @include font-en-bold;
    color: $color-red;
  }
}
