.BtnThumb {
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include sp-layout {
    $size: 40px;
    width: $size;
    height: $size;
  }

  @include pc-layout {
    $size: 64px;
    width: $size;
    height: $size;
  }

  &:hover,
  &.current {
    border: 4px solid $color-black;
  }
}
