.EditableContent {
  line-height: 2;
  letter-spacing: 2px;
  @include font-size(14);

  &.center {
    text-align: center;
  }

  &.concept {
    @include font-bold;
  }

  &.exp {
  }

  small {
    display: block;
    font-size: 12px;
    color: #333;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include font-bold;
  }

  h1 {
    @include font-size(24);
    line-height: 1.5;
  }

  * + h1 {
    margin-top: 2em;
  }

  * + p,
  * + small {
    margin-top: 1.5em;
  }

  * + .Btn {
    margin-top: 2em;
  }
}
