.MainSlideshow {
  background-color: #fefefe;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image linear 0.24s;

  @include pc-layout {
    max-height: 560px;
  }

  &:before {
    content: "";
    display: block;

    @include sp-layout {
      padding-top: 100%;
    }

    @include pc-layout {
      padding-top: 56.25%;
    }
  }
}
