.MainSlideshow {
  background-color: #fefefe;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image linear 0.24s;

  &:before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }
}
