.MenuBtn {
  position: relative;
  width: 30px;
  height: 44px;
  text-indent: -9999px;
  overflow: hidden;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  &:focus {
    outline: 0;
  }

  &:before,
  &:after {
    content: "";
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: $color-red;
    position: absolute;
    left: 0;
    transform: translate(0, -50%);
  }

  &:before {
    top: calc(50% - 6px);
  }

  &:after {
    top: calc(50% + 6px);
  }

  &.close {
    &:before {
      transform: translate(0, calc(-50% + 6px)) rotate(45deg);
    }

    &:after {
      transform: translate(0, calc(-50% - 6px)) rotate(-45deg);
    }
  }
}
