.ProductInfo {
  &__main {
    display: flex;
    flex-direction: column;
    @include font-bold;
    line-height: 1.5;
  }

  &__purchase {
    @include sp-layout {
      margin-top: 12px;
    }

    @include pc-layout {
      margin-top: 16px;
    }
  }

  &__name {
    @include font-size(24);
  }

  &__name + &__price {
    @include sp-layout {
    }

    @include pc-layout {
      margin-top: 8px;
    }
  }

  &__price {
    @include font-size(16);
  }

  form + &__selects {
    @include sp-layout {
    }

    @include pc-layout {
      margin-top: 24px;
    }
  }

  &__selects {
    display: flex;
    flex-direction: column;
  }

  &__selects + &__foot {
    @include sp-layout {
      margin-top: 16px;
    }

    @include pc-layout {
      margin-top: 24px;
    }
  }

  &__foot {
    display: flex;
    flex-direction: column;
    line-height: 2;
    font-size: 12px;
  }

  &__note {
    line-height: 2;
    color: $color-text-gray;
    @include font-size(12);
  }

  #itemAttention {
    @include sp-layout {
      margin-top: 16px;
    }

    @include pc-layout {
      margin-top: 24px;
    }
  }

  .descri + .shareButtons {
    @include sp-layout {
      margin-top: 8px;
    }

    @include pc-layout {
      margin-top: 8px;
    }
  }
}
