.ProductItemList {
  display: grid;

  &.col3-pc {
    @include pc-layout {
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
      // width: 80px;
    }
  }

  &.col3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.ProductItem {
  position: relative;
  display: flex;
  flex-direction: column;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  &__img {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:before {
      content: "";
      display: block;
      padding-top: 56.25%;
    }

    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__img + &__info {
    margin-top: 8px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    line-height: 1.666;
    @include font-bold;

    @include pc-layout {
      margin-top: 8px;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
  }

  &__name {
    @include font-size(18);
  }

  &__copy {
    @include font-size(12);
    color: $color-text-gray;
  }

  &__price {
    @include font-size(14);
    margin-top: 20px;
  }
}
