/*====================================================================
 inquiry: 縺雁撫縺�粋繧上○
====================================================================*/

.inquirySection {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inquirySection h1 {
  color: #000;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1.5;
  text-align: left;
  text-transform: capitalize;
}
.inquirySection p {
  color: #000;
  font-size: 13px;
  line-height: 1.5;
  text-align: left;
}
.inquirySection form {
  margin: 30px 0 0;
}
.inquirySection dl {
  text-align: left;
}
.inquirySection dl dt {
  color: #000;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 5px;
}
.inquirySection dl dt span {
  color: #fb7c8a;
  font-size: 11px;
  line-height: 11px;
  margin-left: 5px;
  vertical-align: baseline;
}
.inquirySection dl dd {
  margin-bottom: 20px;
}
.inquirySection dl dd input {
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: none;
  padding: 10px;
  width: 840px;
}
.inquirySection dl dd textarea {
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: none;
  height: 135px;
  padding: 10px;
  width: 840px;
}
@-moz-document url-prefix() {
  .inquirySection dl dd textarea {
    font-size: 11px;
  }
}
.inquirySection .control-panel input#buttonLeave {
  background-color: #999;
  border: none;
  color: #fff;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  letter-spacing: 5px;
  margin: 55px 0 0;
  padding: 14px 0;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  width: 410px;
}
.inquirySection .control-panel input#buttonLeave:hover {
  cursor: pointer;
  -ms-filter: "alpha(opacity=70)";
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}
#inquiryConfirmSection p {
  color: #000;
  font-size: 13px;
  line-height: 13px;
}
#inquiryConfirmSection dd {
  font-size: 12px;
  padding-left: 15px;
}
#inquiryCompleteSection p {
  line-height: 1.4em;
  margin: 30px 0 0;
}
#inquiryCompleteSection a {
  background-color: #999;
  color: #fff;
  display: block;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  letter-spacing: 5px;
  margin: 55px auto 0;
  padding: 14px 0;
  text-align: center;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  width: 410px;
}
#inquiryCompleteSection a:hover {
  -ms-filter: "alpha(opacity=70)";
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}

/*====================================================================
 common: 蟇ｾ雎｡繝壹�繧ｸ驛｡
====================================================================*/
/* 繧ｫ繧ｹ繧ｿ繝�繝�じ繧､繝ｳ縺ｮ繝�ヵ繧ｩ繝ｫ繝郁牡 */
.mainHeaderNavColor {
  color: #000;
  font-weight: bold;
}
.template #category-menu .category-list ul a {
  color: #000;
}

/**
 * page: shop.ctp
 * about: .tempTop
 *************************************/

/* 繝医ャ繝励�繝ｼ繧ｸ */
.tempTop {
}

/**
 * page: shop.ctp
 * about: .tempTop
 *************************************/
.tempDetail #mainFooter ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.tempDetail .product p a {
  font-size: 11px;
}

/* 騾∵侭隧ｳ邏ｰ */
#postageInfoLayer p {
  font-size: 11px;
  text-align: left;
}
#postageInfoLayer p a {
  color: #727272;
  font-size: 11px;
  text-align: left;
}
#postageInfoLayer p a:hover {
  text-decoration: underline;
}

/*====================================================================
迚ｹ螳壼膚蜿門ｼ輔�繝励Λ繧､繝舌す繝ｼ繝昴Μ繧ｷ繝ｼ
====================================================================*/
#privacy,
#law {
  margin: 120px auto 60px;
  padding: 20px 30px;
}
#privacy h2,
#law h2 {
  border-bottom: 1px solid #ccc;
  margin: 20px 0 40px;
}

/*====================================================================
 jquery
====================================================================*/

/**
 * file: detail_of_item.ctp
 * jquery: jquery.bxslider.js
 *************************************/
/* jquery.bxslider */
.bx-wrapper {
  height: 460px;
  width: 460px;
}
.bxslider {
}
.bxslider .img_box {
  height: 460px;
  line-height: 460px;
  text-align: center;
  vertical-align: middle;
  width: 460px;
}
.bxslider .img_box img {
  max-height: 460px;
  max-width: 460px;
  vertical-align: middle;
}
#bx-pager {
  margin: 20px -20px 0 0;
  overflow: hidden;
  width: 480px;
}
#bx-pager a {
  float: left;
  margin: 0 20px 20px 0;
  max-height: 76px;
  max-width: 76px;
}
#bx-pager .small_img_box {
  cursor: pointer;
  height: 76px;
  line-height: 76px;
  text-align: center;
  vertical-align: middle;
  width: 76px;
}
#bx-pager .small_img_box img {
  max-height: 76px;
  max-width: 76px;
  vertical-align: middle;
}

/*====================================================================
 for firefox
====================================================================*/

@-moz-document url-prefix() {
  .product_list {
    margin-left: -1px;
  }
}

/*====================================================================
 for sp
====================================================================*/
@media screen and (max-width: 480px) {
  /**
		* page: 繝壹�繧ｸ蜷�
		* about: 髢｢騾｣諠��ｱ
		*************************************/

  /* 繧ｯ繝ｩ繧ｹ讒区� */
}

/**
 * apps: item_layout
 *************************************/
#appsItemDetailCustom #appsItemDetailCustomTag .appsItemDetailCustomTag_description {
  font-size: 13px;
}
