.Slideshow {
  &__content {
    width: 100%;
    background-color: #fefefe;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:before {
      content: "";
      display: block;
      padding-top: 48%;
      max-height: 640px;
    }
  }

  &__content + &__thumbs {
    @include sp-layout {
      margin-top: 8px;
    }

    @include pc-layout {
      margin-top: 12px;
    }
  }

  &__thumbs {
    @include sp-layout {
      padding: 0 8px;
    }

    @include pc-layout {
    }
    > * {
      & + * {
        @include sp-layout {
          margin-left: 8px;
        }

        @include pc-layout {
          margin-left: 12px;
        }
      }
    }
  }
}
